<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
	<title>Diego Maneyro | Back-End Developer | diegomaneyro@gmail.com</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css" media="all" /> 
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}" media="all" />
</head>
<body>
<div id="doc2" class="yui-t7">
    <div id="inner">
        <div id="hd">
            <div class="yui-gc">
                <div class="yui-u first">
                    <h1>Diego Maneyro</h1>
                    <h2>Back-End Developer</h2>
                </div>
                <div class="yui-u">
                    <div class="contact-info">
                        <a id="pdf" class="button" href="{{ url_for('static', filename='pdf/cv_diegoManeyro2024.pdf') }}">Download PDF</a>
                        <h3><a href="mailto:diegomaneyro@gmail.com">diegomaneyro@gmail.com</a></h3>
                        <h3>11 24593651</h3>
                    </div><!--// .contact-info -->
                </div>
            </div><!--// .yui-gc -->
        </div><!--// hd -->
        <div id="bd">
            <div id="yui-main">
                <div class="yui-b">
                    <div class="yui-gf">
                        <div class="yui-u first">
                            <h2>Perfil</h2>
                        </div>
                        <div class="yui-u">
                            <p class="enlarge">
                                Soy Diego Maneyro, estudiante de Licenciatura en Informática en la Universidad Nacional del Oeste, con un enfoque en el desarrollo backend. Mis intereses actuales incluyen la creación de aplicaciones robustas utilizando Python, SQL y frameworks como Django y Flask. Estoy especializado en el diseño y manejo de bases de datos relacionales, optimización de consultas y desarrollo de sistemas escalables. Destaco por mi capacidad de trabajo en equipo, un perfil colaborativo orientado a la resolución de problemas, y habilidades de comunicación efectiva basadas en el respeto y la empatía.
                            </p>
                        </div>
                    </div><!--// .yui-gf -->
                    <div class="yui-gf">
						<div class="yui-u first">
							<h2>Habilidades</h2>
						</div>
						<div class="yui-u">
							<div class="talent">
								<h2>Desarrollo Backend</h2>
								<p>Experto en la creación de aplicaciones web robustas utilizando Python, SQL y frameworks como Django y Flask, con un enfoque en soluciones escalables y eficientes.</p>
							</div>
							<div class="talent">
								<h2>API RESTful</h2>
								<p>Habilidad en la creación y consumo de API RESTful, asegurando una comunicación eficiente entre los servicios y aplicaciones, y facilitando la integración con otros sistemas.</p>
							</div>
							<div class="talent">
								<h2>Gestión de Bases de Datos</h2>
								<p>Habilidad en el diseño, optimización y administración de bases de datos relacionales, garantizando integridad y rendimiento en diversos proyectos.</p>
							</div>
							<div class="talent">
								<h2>Colaboración en Equipo y Resolución de Problemas</h2>
								<p>Capacidad comprobada para trabajar en equipo, resolver desafíos de manera efectiva y mantener una comunicación excelente basada en el respeto y la empatía.</p>
							</div>
						</div>
					</div>					
					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Habilidades Técnicas</h2>
						</div>
						<div class="yui-u">
							<div class="skills-row">
								<div class="skill-group">
									<h3>Lenguajes de Programación</h3>
									<ul class="talent">
										<li><i class="fab fa-python"></i> PYTHON</li>
										<li><i class="fas fa-database"></i> SQL</li>
										<li class="last"><i class="fab fa-html5"></i> HTML/CSS/JavaScript</li>
									</ul>
								</div>
								<div class="skill-group">
									<h3>Frameworks y Librerías</h3>
									<ul class="talent">
										<li><i class="fas fa-feather-alt"></i> DJANGO</li>
										<li><i class="fas fa-flask"></i> FLASK</li>
										<li class="last"><i class="fas fa-code"></i> FASTAPI</li>										
									</ul>
								</div>
								<div class="skill-group">
									<h3>Otras Tecnologías</h3>
									<ul class="talent">
										<li><i class="fab fa-linux"></i> LINUX</li>
										<li><i class="fab fa-git-alt"></i> GIT</li>
										<li class="last"><i class="fab fa-docker"></i> DOCKER</li>
									</ul>
								</div>
							</div>
						</div>
					</div>					
                    <div class="yui-gf">
                        <div class="yui-u first">
                            <h2>Experiencia</h2>
                        </div><!--// .yui-u -->
                        <div class="yui-u">
                            <div class="job">
								<h2></h2>
								<h3></h3>
								<h4></h4>
								<p></p>
                            <div class="job">                                
                            <div></div>
                            <div class="job">
                                <h2></h2>
								<h3></h3>
								<h4></h4>
								<p></p>
                            </div>
                            <div class="job last">
                                <h2></h2>
								<h3></h3>
								<h4></h4>
								<p></p>
                            </div>
                        </div><!--// .yui-u -->
                    </div><!--// .yui-gf -->
                    <div class="yui-gf last">
                        <div class="yui-u first">
                            <h2>Educación</h2>
                        </div>
                        <div class="yui-u">
                            <h2></h2>
                            <h3></h3>
                        </div>
                    </div><!--// .yui-gf -->
                </div><!--// .yui-b -->
            </div><!--// yui-main -->
        </div><!--// bd -->
        <div id="ft">
            <p>Diego Maneyro &mdash; <a href="mailto:diegomaneyro@gmail.com">diegomaneyro@gmail.com</a> &mdash; (11) 24593651</p>
        </div><!--// footer -->
    </div><!-- // inner -->
</div><!--// doc -->
</body>
</html>



